# Python
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.db
*.rdb

env/
venv/
venv_reactive_spreadsheet/
.pyest_cache/
.pre-commit-config.yaml

# macOS
.DS_Store

# Logs
*.log

# Node.js
node_modules/

# IDEs/Editors
.vscode/
.idea/

#Config files
*.zshrc
*.bashrc